.gridContainer {
    width: 100%;
    height: calc(100vh - 236px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px; 
    padding-bottom: 44px; 
}

@media screen and (max-width: 750px) {
    .gridContainer {
        height: calc(100vh - 172px);
    }
  }

.productBox {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
}

.priceBanner {
    position: absolute;
    bottom: 0;
    width: calc(100% - 64px);
    height: 20px;
    margin-bottom: 16px;
    background-color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 4px;
}

.title {
    height: 20px;
    text-align: center;
    width: calc(100% - 16px);
    position: absolute;
    bottom: 88px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 1000;
    text-overflow: ellipsis;
}

.iconPosition {
    position: absolute;
    bottom: 54px;
}

.linePosition {
    position: absolute;
    bottom: 46px;
    width: 80%;
}

.gameImage {
    height: 200px;
    position: absolute;
}
.mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 300px;
    width: 200px;
    z-index: 0;
}

.mask-1,
.mask-2{
	background-color: rgba(0,0,0,0.5);
    height: 361px;
    width: 361px;
	background: #FDED2A;
	opacity: 0.5;
    transition: all 0.3s ease-in-out 0.6s;
}

.mask-1 { 
    left: auto;
    right: 0px;
    transform: rotate(56.5deg) translateX(-180px);
    transform-origin: 100% 0%;
}

.mask-2 { 
    top: auto;
    bottom: 0px;
    transform: rotate(56.5deg) translateX(180px);
    transform-origin: 0% 100%;
}

.content{
    background:black;
    height: 0px;
    width: 361px;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-112px,166px);
    transform-origin: 0% 100%;
    transition: all 0.25s ease-in-out 0.3s;
    border-radius: 4px;
    z-index: 2;
    position: absolute;
    top: 200px;
}
.content2{
    background: black;
    height: 0px;
    width: 361px;
    overflow: hidden;
    transform: rotate(33.5deg) translate(112px,166px);
    transform-origin: 0% 100%;
    transition: all 0.25s ease-in-out 0.3s;
    border-radius: 4px;
    z-index: 2;
    position: absolute;
    top: 0px;
}
h2{
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
a.info{
    display: none;
}

.content, .content2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-direction: column;
    
    /* justify-content: center; */
}

.content {
    align-items: center;
    align-content: center;
}

.content2 {
    justify-content: center;
}



/* .content2 {
    margin-top: 16px;
} */

.productBox:hover .content{
    height: 184px;
    width: 214px;
    opacity: 0.9;
    top: 220px;
    transform: rotate(0deg) translate(0px,-100px);
    overflow-y: auto;
}
.productBox:hover .content2{
    height: 64px;
    width: 210px;
    opacity: 0.9;
    top: 20px;
    transform: rotate(0deg) translate(0px,32px);
    overflow: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
}
.productBox:hover .mask-1,
.productBox:hover .mask-2{
	transition-delay: 0s;
}
.productBox:hover .mask-1{
    transform: rotate(56.5deg) translateX(74px);
}
.productBox:hover .mask-2 {  
    transform: rotate(56.5deg) translateX(-75px);
}

.description {
    display: inline-block;
    width: calc(100% - 8px);
    padding: 4px;
    text-align: center;

}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343409;;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FDED2A;
  }

.popUpTitle {
    text-align: center;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.gridscroll {
    /* height: 100vh; */
    overflow: scroll;
}

.cartIcon {
    height: 16px;
    position: absolute;
    left: 12px;
    top: 13px;
}

.checkoutIcon {
    height: 16px;
    position: absolute;
    left: 12px;
    top: 13px;
}
.buyTextD {
    width: max-content;
    background-color: green;
    padding: 12px 24px 12px 40px;
    border-radius: 24px;
    color: white;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 8px;
}

.buyText:hover {

}
.checkout {
    width: max-content;
    background-color: #FDED2A;
    padding: 12px 24px 12px 40px;
    border-radius: 24px;
    color: white;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    color: #343409;
    text-decoration: none!important;
}

.checkout:link  {
    text-decoration: none;
}

.displayText {
    margin-top: 16px;
}