

.basketContents {
    width: 500PX;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 16px;
}

@media screen and (max-width: 750px) {
    .basketContents {
      width: 300px;
    }
  }


.ViewBasketContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: max-content;
}

.checkoutItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid #343409;
    border-radius: 8px;
    align-items: center;
}

.qtyName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.itemQty {
    margin-right: 16px;
}

.itemPrice {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.checkoutAdj {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: white;
}

.addBtn {
    height: 16px;
    width: 44px;
    background-color:#A9A9A9;
    border-radius: 8px;
    margin-bottom: 2px;
    cursor: pointer;
}

.addBtn:active {
    background-color: #808080;
}
.addBtn:hover {
    background-color: #696969;
}

.removeBtn {
    height: 16px;
    width: 44px;
    background-color:#A9A9A9;
    border-radius: 8px;
    margin-bottom: 2px;
    cursor: pointer;
}

.removeBtn:active {
    background-color: #808080;
}
.removeBtn:hover {
    background-color: #696969;
}

.deleteBtn {
    height: 16px;
    width: 44px;
    background-color: #c62d1f;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 8px;
}

.deleteBtn:active {
    background-color:#B22222;
}
.deleteBtn:hover {
    background-color: #8B0000;
}
