.cardBorder {
    border: 2px solid #FEFE9A;
    width: 100%;
    padding: 16px;
    background-color: #FFFFDB;
    border-radius: 4px;
}

.centeredRowFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.centeredColumnFlex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.spaceBetweenFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: space-between;
    align-items: flex-start;
}

.spaceAroundFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: space-around;
    align-content: space-around;
}
.yellowBackground {
    background-color: #FDED2A;
    width: 100%;
    border-bottom: 1px solid #343409;
}


.text-input {
    height: 16px;
    padding: 12px;
    font-size: 16px;
    border-width: 2px;
    border-color: #fceb26;
    background-color: #ffffdb;
    color: #343409;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.text-input:focus {
    outline:none;
}

::placeholder {
    color: #343409;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: #343409;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #343409;
  }

  .darkText {
      color: #343409;
  }
  
  .lightText {
      color: #ffffdb;
  }

  .greyLine {
      border-top: 1px solid #C0C0C0;
      width: 100%;
      margin-top: -12px;
  }

  .brandIcon {
      height: 28px;
      width: 28px;
      align-self: flex-start;
      margin-top: -12px;
    }
    
    .example {
        transform: translateX(- calc(max-content))
    }
    .example-enter {
    opacity: 0;
    transform:   translate(0,-250px);
    transform: translate3d(0,-250px,0);
    transform: translateX(max-content);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 0.6s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 0.3), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
   transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 0.3), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(0,-250px);
	transform: translate3d(0,-250px,0);
}

.animContainer {
    overflow: hidden;
}

.listMenu {
	overflow: hidden;
	transition: max-height 0.3s linear;
	max-height: 0px;
}

.listMenu.expanded {
    max-height: 1000px;
    transition: max-height 0.3s linear;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-left:
        8px solid transparent;
    border-right:
        8px solid transparent;
    border-top:
        8px solid black;
	margin-top: 4px;
	transition: all 0.3s ease;
}

.triangle-bottom.rotate {
	transform-origin: 50% 50%;
	transform: rotateZ(180deg);
}

.boxShadow {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.36); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.36);
    border: 2px solid 	#C0C0C0;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
}

.blackBackground {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    cursor: not-allowed;
}

.yellowBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #FFFFDB;
	-webkit-box-shadow:inset 0px 1px 0px 0px #FFFFDB;
	box-shadow:inset 0px 1px 0px 0px #FFFFDB;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FDED2A), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #FDED2A 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #FDED2A 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #FDED2A 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #FDED2A 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #FDED2A 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDED2A', endColorstr='#ffab23',GradientType=0);
	background-color:#FDED2A;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.yellowBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #FDED2A));
	background:-moz-linear-gradient(top, #ffab23 5%, #FDED2A 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #FDED2A 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #FDED2A 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #FDED2A 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #FDED2A 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#FDED2A',GradientType=0);
	background-color:#ffab23;
}
.yellowBtn:active {
	position:relative;
	top:1px;
}

.redBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.redBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.redBtn:active {
	position:relative;
	top:1px;
}
     
.loader {
    border: 16px solid #FDED2A;
    border-top: 16px solid  #343409;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loaderCon {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    /* align-content: center;  */
    margin-top: 36px;
  }