.userbarContainer {
    width: 100%;
    height: 75px;
    background-color: #343409;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.userBarItem {
    height: 75px;
    width: 75px;
    object-fit: fill;
}

.usrImg {
    height: 35px;
    padding-top: 12px;
}

.login {
    color: #FFFFDB;
    width: max-content;
    font-size: 12px;
    margin: 0;
    margin-top: 4px;


}

.userBarProfile {
    height: 75px;
    width: 85px;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 16px;
    cursor: pointer;

}

.companyName {
    font-size: 50px;
    color: #FFFFDB;
}

.logo {
    height: 70px;
    margin-top: -4px;
}
.logoBarItem {
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.loginBarItem {
    position: fixed;
    right: 12px;
    top:12px
}

#search {
    margin-top: 16px;
}