.userbarContainer {
    width: 100%;
    height: 75px;
    background-color: #343409;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.userBarItem {
    height: 75px;
    width: 75px;
    object-fit: fill;
}

.usrImg {
    height: 35px;
    padding-top: 12px;
}

.login {
    color: #FFFFDB;
    width: max-content;
    font-size: 12px;
    margin: 0;
    margin-top: 4px;


}

.userBarProfile {
    height: 75px;
    width: 85px;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 16px;
    cursor: pointer;

}

.companyName {
    font-size: 50px;
    color: #FFFFDB;
}

.logo {
    height: 64px;
    margin-top: 6px;
    margin-right: 16px;
}
.logoBarItem {
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.loginBarItem {
    position: fixed;
    right: 12px;
    top:12px
}

#search {
    margin-top: 16px;
}

.searchResults {
    position: absolute;
    top: 62px;
    z-index: 50;
    max-height: 400px;
    overflow: auto;
}

.searchResultBox {
    height: 72px;
    width: 105%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 2px;
    cursor: pointer;
    text-decoration: none !important;
    transform: scale(0.95, 0.95);
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.searchResultBox:hover {
    transform: scale(1, 1);
    -moz-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.searchResultTextBox {
    max-width: 125px;
    max-height: 58px;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;

}

.thumbnailBox {
    height: 64px;
    width: 64px;
    object-fit: contain;
    margin-left: 4px;
    border: 1px solid lightgray;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Link {
    text-decoration: none !important;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  #searchIcon {
      height: 28px;
      position: absolute;
      right: -40px;
      top: 24px;
      cursor: pointer;
  }