.sideInnerMenuContainer {
    width: calc(100% - 32px);
    border-top: 1px solid black;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    margin-top: 16px;
    position: relative;
    transition: max-height 0.3s linear;
	max-height: 0px;
}
.sideInnerMenuContainer{
    max-height: 1000px;
    transition: max-height 0.3s linear;
}

.arrow {
    width: max-content;
}

.innerAccordianTitle {
    width: 50%;
}


.innerList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searchTerm {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;    
}

.searchTerm:hover {
    background-color: #FFFF85;
    border-radius: 8px;
}
.animContainer {
    overflow: hidden;
	transition: max-height 0.3s linear;
	max-height: 0px;
}

.animContainer.expanded {
    max-height: 1000px;
    transition: max-height 0.3s linear;
}


.subcategoryTitle:hover {
    background-color: #FFFF85;
    border-radius: 8px;
}