.sideInnerMenuContainer {
    width: calc(100% - 32px);
    border-top: 1px solid black;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    margin-top: 16px;
    position: relative;
}

.arrow {
    width: max-content;
}

.accordianTitle {
    width: max-content;
}

.innerList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searchTerm {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.animContainer {
    overflow: hidden;
}