
.userBarProfile {
    height: 75px;
    width: 85px;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    text-align: center;margin-right: 16px;
    cursor: pointer;
    position: relative;
    display: flex;

}

.mobileLogin {
    color: #343409;
    position: fixed;
    right: -20px;
    top: -4px
}

.usrImg {
    height: 35px;
    padding-top: 12px;
}

.login {
    color: #FFFFDB;
    width: max-content;
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
}

.loginBox {
    padding: 1px;
    background-color: lightgrey;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition-delay: 0s;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    right: 212px;
    z-index: 121;
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
    visibility: hidden


}

.loginOpen {
    opacity: 1;
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    right: 31px;
    overflow: auto;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition-delay: 0.3s;
    visibility: visible;
    z-index: 121;
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.loginContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    /* margin-left: 25%; */
}

.inputAdj {
    margin-bottom: 24px;
    width: 300px;
    align-self: center;
}

.details1 {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.inputContainer {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 24px;
}

.btnCon {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -24px;
}

.initials {
    color: #FFFFDB;
    height: 35px;
    width: 35px;
    border: 2px solid #FFFFDB;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    font-size: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.initialsMobile {
    color: #343409;
    height: 35px;
    width: 35px;
    border: 2px solid #343409;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    font-size: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
}