body {
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;

  }

  a {
    text-decoration: none !important;
  }

  html {
  -webkit-tap-highlight-color:transparent;
}

div { outline-style:none;}